<ion-view title="Detail Information " id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="detailInformation-list4">
      <ion-item class="item-avatar" id="detailInformation-list-item20">
        <h2>Name </h2>
        <p>Department </p>
      </ion-item>
    </ion-list>
    <ion-list id="detailInformation-list5">
      <ion-item id="detailInformation-list-item24">FA Number</ion-item>
      <ion-item id="detailInformation-list-item30">Job Title </ion-item>
      <ion-item id="detailInformation-list-item25" href="tel:11111">Workphone </ion-item>
      <ion-item id="detailInformation-list-item26" href="tel:11111">Direct Dial </ion-item>
    </ion-list>
    <ion-list id="detailInformation-list6">
      <ion-item id="detailInformation-list-item27" href="mailto:111@111.com">Email</ion-item>
      <ion-item id="detailInformation-list-item28">Address</ion-item>
      <ion-item id="detailInformation-list-item29">Subsuduary</ion-item>
    </ion-list>
  </ion-content>
</ion-view>