<ion-view title="Main Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="mainPage-heading1" style="color:#000000;">Direct Search</h1>
    <form id="mainPage-form1" class="list">
      <label class="item item-input firstname" id="mainPage-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search by first name">
      </label>
    </form>
    <a ui-sref="searchResult()" id="mainPage-button4" class="button button-positive button-block">Search</a>
  </ion-content>
</ion-view>