<ion-view title="Search Result" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchResult-list2">
      <ion-item class="item-avatar" id="searchResult-list-item3" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item14" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item15" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item16" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item17" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item18" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
      <ion-item class="item-avatar" id="searchResult-list-item19" ui-sref="detailInformation()">
        <h2>Name </h2>
        <p>Department</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>